[Desktop Entry]
Name=Share to diaspora*
Exec=qmlscene $@ src/Main.qml
Icon=diaspora-asterisk-256.png
Terminal=false
Type=Application
X-Ubuntu-Touch=true
